<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
<br>
<br>
<br>

    <div class="container">

    <div class="sidebar">
       <div class="profile-card">
           <img src="assets/heroes/perfil.jpg" class="profile" width="50" alt="">
           <h2> URIEL PALACIOS MORA</h2>
           <ul>
               <h2 align="Center">SKILLS</h2>
               <li><a href="">LARAVEL 8</a></li>
               <li><a href="">ANGULAR 12</a></li>
               <li><a href="">JAVASCRIPT</a></li>
               <li><a href="">PHP</a></li>
               <li><a href="">ANGULAR JS</a></li>
               <li><a href="">CSS</a></li>
               <li><a href="">JSON</a></li>
               <li><a href="">JQUERY</a></li>
               <li><a href="">BOOTSTRAP</a></li>
           </ul>

           <div class="buttons">
            <button class="btn" (click)="login()"> Login</button>
        </div>
       </div>
    </div>


    <main>
            
        <div class="header">
            <h2>Developer Full Stack</h2>
            <span>September 8th, 2021</span>
        </div>

            <div class="tasks">

               <div class="card">
                   <div class="content">
                       <div class="left">
                        <img src="assets/heroes/moradev1.png" width="50" alt="">
                       </div>

                       <div class="right">
                           <div class="task">TÉCNICO EN ELECTRÓNICA</div>
                           <div class="status">CENTRO DE ESTUDIOS TECNOLÓGICOS DE MAR 01</div>
                           <div class="progress">
                               <div class="fill fill-100"></div>
                           </div>
                       </div>
                   </div>

                   <div class="buttons">
                       <button class="btn" (click)="login()"> Complete</button>
                   </div>
               </div>

               <div class="card">
                <div class="content">
                    <div class="left">
                     <img src="assets/heroes/moradev1.png" width="50" alt="">
                    </div>

                    <div class="right">
                        <div class="task">INGENIERO EN SISTEMAS COMPUTACIONALES</div>
                        <div class="status">INSTITUTO TECNOLÓGICO SUPERIOR DE ALVARADO</div>
                        <div class="progress">
                            <div class="fill fill-100"></div>
                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <button class="btn"> Complete</button>
                </div>
            </div>

            <div class="card">
                <div class="content">
                    <div class="left">
                     <img src="assets/heroes/moradev1.png" width="50" alt="">
                    </div>

                    <div class="right">
                        <div class="task">MAESTRO EN SISTEMAS COMPUTACIONALES</div>
                        <div class="status">TECNOLÓGICO NACIONAL DE MÉXICO CAMPUS ALVARADO</div>
                        <div class="progress">
                            <div class="fill fill-100"></div>
                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <button class="btn"> Complete</button>
                </div>
            </div>
                
            </div>
    </main>



</div>
</body>

</html>









<!-- 


<mat-grid-list cols="1">
    <mat-grid-tile>
        <button mat-raised-button
                (click)="login()" 
                color="primary">
            Ingresar
        </button>
    </mat-grid-tile>
</mat-grid-list>
-->